fastapi
uvicorn[standard]

sqlalchemy
PyMySQL
cryptography
pydantic
pydantic-settings
email-validator

PyJWT
pwdlib[argon2]
python-multipart

torch
torchvision
ultralytics

pillow
numpy
opencv-python-headless